[init]
    defaultBranch = main
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[alias]
    dft = difftool
    dlog = "-c diff.external=difft log -p --ext-diff"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    email = jetgeronimo@gmail.com
    name = jet-inigo
